# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage


# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env


# changelog
CHANGELOG.md

# Android
/android
/ios
docs
.bundle
node_modules

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output


lint-staged.config.js
commitlint.config.js
husky.config.js
react-native.config.js
babel.config.js
.prettierrc.js
.prettierignore
.eslintignore
.watchmanconfig